{% extends 'baseV2.html.twig' %}

{% block title %}Hello FullMessageOutboxController!
{% endblock %}

{% block body %}
	{% block stylesheets %}
		<style>
			.example-wrapper {
				margin: 1em auto;
				max-width: 800px;
				width: 95%;
				font: 18px / 1.5 sans-serif;
			}
			.example-wrapper code {
				background: #F5F5F5;
				padding: 2px 6px;
			}
			#outbox {
				font-family: Arial, Helvetica, sans-serif;
				border-collapse: collapse;
				width: 100%;
			}

			#outbox td,
			#outbox th {
				border: 1px solid #ddd;
				padding: 8px;
			}

			#outbox tr:nth-child(even) {
				{
					# background-color: #f2f2f2; #
				}
			}

			#outbox tr:hover {
				border: 1.5px solid purple;
			}

			#outbox th {
				padding-top: 12px;
				padding-bottom: 12px;
				text-align: left;
				background-color: purple;
				color: white;
			}

			.notRead {
				color: purple;
				font-weight: bolder;

			}

			.notRead > a {
				color: purple;
				font-weight: bolder;

			}

			.read {
				color: wheat;
			}

			.read > a {
				color: wheat;
			}


			.msg {
				display: flex;
				flex-direction: column;
				margin: auto;
				align-items: center;

			}

			button::hover {
				cursor: pointer;
			}

			textarea {
				background-color: purple;
				color: wheat;
			}
		</style>


	{% endblock %}


	<div>
		<div class="msg">
			{% if message.sender.id == app.user.id %}
				<p>{{message.id}}</p>
				<p>{{message.subject}}</p>
				<p>{{message.body}}</p>
			</div>

			<table id="outbox">
				<tr>
					<th>User</th>
					<th>Status</th>
				</tr>
				{% for regist in message.regists %}
					<tr>
						<td>{{regist.reciver.username}}</td>
						{% if regist.isread == 0 %}
							<td class="notRead">Message not yet readed</td>
						{% else %}
							<td class="read">Message already readed</td>
						{% endif %}

					</tr>
				{% endfor %}
			</table>
		{% else %}
			<a href="{{ path('outbox')}}">You shoudent be her go back to your outbox</a>
		{% endif %}
	</div>

{% endblock %}
